<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">WELCOME to Webstore</h1>
 <h2>Contacts</h2>
 <p>Name: Favour Somtochukwu Ozogbu</p>
 <p>Address: Heriot-watt University dubai</p>
 <p>Phone: +971 58 569 0991</p>
 <p>Email: <a href="mailto:fso2000@hw.ac.uk">fso2000@hw.ac.uk</p>
 </div>
<%- include('footer'); -%>